---
layout: base.njk
title: Resume of Ken Blizzard-Caron
keywords: resume, cv, about, personal, profile, portfolio, ken blizzard-caron
description: This is the personal website of Ken Blizzard-Caron.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">Howdy, {{author.statement}}</p>