<section>
  <h3 class="font-header font-semibold text-xl uppercase mb-6">Skills</h3>
  <ul class="flex flex-wrap mt-2">
    {% for skill in author.skills|sort %}
    <li class="relative inline-flex items-end mb-1 mr-1">
      <span
        class="flex items-center subpixel-antialiased highlight px-3 py-1 font-header font-light text-xl md:text-1xl text-lead-text transition-color duration-200 ease-in-out"
      >
        {{ skill }} </span
      >{% if not loop.last %},{% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
